.wrapper{
  background-color: gray;
  height: 900px;
}

.gameWindow{
  position: relative;
  top: 250px;
  width: 100%;
  background-color: green;
  border: brown solid 2px;
  margin-left: 2%;
  margin-right: 10%;
  
}

.card{
  height: 50px;
  width: 50px;
  margin-left: 10px;
}
.cardImage{
  height: 100px;
  width: 50px;
}

#cardWindow{
  position: relative;
  display: flex;
  width: 75%;
  height: 200px;
  flex-wrap: wrap;
  left: 10%;
  

}

#restartGameButton{
  margin-left: 50px;
}
