

.card{
  height: 50px;
  width: 50px;
  margin-left: 10px;
}
.cardImage{
  height: 100px;
  width: 50px;
}
#cardWindow{
  position: relative;
  display: flex;
  width: 75%;
  height: 200px;
  flex-wrap: wrap;
  left: 10%;
  

}